//- Checkbox
//- 
//- Accepted arguments:
//- * name (String)
//- * value (String) : defaults to "true"
//- * checked (Boolean)
//- * disabled (Boolean)

mixin checkbox(args)
	.checkbox(id=attributes.id, class=attributes.class): label
		input(
			type='checkbox'
			name=args.name
			value=args.value ? args.value : 'true'
			checked=args.checked
			disabled=args.disabled)
		!= args.label
