//- Checkbox Inline
//- 
//- Accepted arguments:
//- * checkboxlabel (String)
//- * name (String)
//- * value (String) : defaults to "true"
//- * checked (Boolean)
//- * disabled (Boolean)

mixin checkbox-inline(args)
	label.checkbox-inline(id=attributes.id ? attributes.id : null, class=attributes.class ? attributes.class : null)
		input(
			type='checkbox'
			name=args.name
			value=args.value ? args.value : 'true'
			checked=args.checked
			disabled=args.disabled)
		|  
		!= args.checkboxlabel
