//- Radio Inline
//- 
//- Accepted arguments:
//- * radiolabel (String)
//- * name (String)
//- * value (String)
//- * checked (Boolean)
//- * disabled (Boolean)

mixin radio-inline(args)
	label(id=attributes.id ? attributes.id : null, class=attributes.class ? attributes.class : null).radio-inline
		input(
			type='radio'
			name=args.name
			value=args.value
			checked=args.checked
			disabled=args.disabled)
		|  
		!= args.radiolabel
