//- Upload
//- 
//- Accepted arguments:
//- * name (String)
//- * note (String)

mixin upload(args)
	.field-upload
		input(
			type='file'
			name=args.name
			class=attributes.class
			id=attributes.id ? attributes.id : null)
		if args.note
			.form-note= args.note


